<h2>Login Page</h2>
<hr>
<br><br>
<a href="/">Home Page</a>
<br>
<a href="/api/sessions/github">Acceder con GitHub</a>
<br>
<form action="/api/sessions/login" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="contraseña">
    <input type="submit" value="Acceder">
</form>

