<h2>Login</h2>
<hr>
<form action="/api/sessions/login" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="contraseña">
    <input type="text" hidden value="web" name="web">
    <br>
    <input type="submit" value="Login">
</form>