
#log{
    margin-top: 15px;
    width: 90%;
    height: 350px;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px #333 inset;
    padding: 5px;
    background-color: cadetblue;
    color: rgb(240, 235, 235);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9px;
}

.mensaje{
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    background-color: wheat;
    /* display: block;
    width: fit-content; */
    display: block;
    width: fit-content;
    margin: 0px;
    margin-top: 3px;
}
